@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: relative;
}
body {
  margin-top: 90px;
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
}
html {
  font-size: 80.5%;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-size: 2.2rem;
  margin-top: 20px;
}

.logo {
  padding: 8px;
  background-color: #ffffff;
  color: #000000;
  font-size: 2rem;
  display: flex;
  height: 3rem;
  width: 3rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}

.main {
  height: 100px;
  display: flex;
  position: relative;
  top: 40px;
  margin-bottom: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.value {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  width: 100%;
  max-width: 120px;
  height: 45px;
  padding: 2.6rem;

  border-color: #ffffff;
  border-width: 0.4rem;
  font-size: 4rem;
  margin: 5px;
  background-color: #222;
  align-self: center;
}

.btn {
  font-family: "Press Start 2P", sans-serif;
  height: 50px;
  width: 120px;
  margin: 5px;
  padding: 5px;
  font-size: 1.4rem;
}

.score-section {
  position: relative;
  top: 180px;
  width: 100%;
  max-width: 600px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.6rem;
  margin: auto;
}

.message {
  position: relative;
  top: 65px;
  margin: 0;
  text-align: center;
  font-size: 1.3rem;
}

.try-again {
  display: flex;
  position: relative;
  top: 250px;
  height: 50px;
  justify-content: center;
}
#tr-btn {
  font-family: "Press Start 2P", sans-serif;
  height: 55px;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
}
